/* Custom Properties */
:root {
  --site-border: 25px;

  --main-color: #f0ae2c;
  --secondary-color: #fff7f1;
  --tertiary-color: #005b55;
  /* --quaternary-color: ; */

  --main-bg-color: var(--main-color);
  --main-body-color: var(--secondary-color);
  --main-text-color: var(--main-color);
  --nav-bg-color: var(--secondary-color);
  --nav-link-color: var(--main-color);
  --nav-linkhover-color: var(--tertiary-color);
}

html {
  min-height: 100vh;
  background-color: var(--main-bg-color);
}


/* App Styles */
.App {
  padding: var(--site-border);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.App > div {
  background: var(--main-body-color);
}

.App-logo {
  height: 200px;
  pointer-events: none;
}

.App-header {
  background-color: var(--main-body-color);
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-text-color);
}

.App-link {
  color: #61dafb;
}

body {
  min-height: 85vh;
  z-index: 1;
  margin-bottom: 20vh;
  background: var(--main-body-color);
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: initial;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  background: var(--nav-bg-color);
  text-transform: uppercase;
  font-size: 2.5vmin;
  font-weight: bolder;
}

nav > ul {
  padding: 0;
}

nav > ul > li {
  display: inline-flex;
  margin: 0 3em;
}

nav > ul > li > a {
  color: var(--nav-link-color);
  text-decoration: none;
}
nav > ul > li > a:hover {
  /* color: var(--nav-linkhover-color); */
  text-decoration: underline;
}

/* Footer */
footer {
  position:fixed;
  bottom: 0;
  left: calc(var(--site-border)/10 * -1);
  z-index: -1;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}