/* Custom Properties */
:root {
  --site-border: 25px;

  --ipa: #ffb241;
  --lager: #bf4208;
  --porter: #482020;
  --stout: #291717;

  --main-color: var(--lager);
  --secondary-color: var(--ipa);
  --tertiary-color: var(--stout);
  --quaternary-color: var(--porter);

  --main-bg-color: var(--main-color);
  --main-body-color: var(--secondary-color);
  --main-text-color: var(--main-color);
  --nav-bg-color: var(--secondary-color);
  --nav-link-color: var(--main-color);
  --nav-linkhover-color: var(--tertiary-color);
}

html {
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

body {
  min-height: 85vh;
  z-index: 1;
  margin-bottom: 20vh;
  background: var(--main-body-color);
}

/* App Styles */
.App {
  padding: var(--site-border);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.App > div {
  background: var(--main-body-color);
}

.App-logo {
  height: 200px;
  pointer-events: none;
}

.App-header {
  background-color: var(--main-body-color);
  min-height: 87.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-text-color);

  @media screen and (max-width: 767px) {
    min-height: 85vh;
  }

  .wrap {
    max-width: 60%;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
    padding: 0 4rem;

    @media screen and (max-width: 767px) {
      max-width: 100%;
      padding: 0 2rem;
    }
  }
}

.App-link {
  color: #61dafb;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  background: var(--nav-bg-color);
  text-transform: uppercase;
  font-size: 2.5vmin;
  font-weight: bolder;
}

nav > ul {
  padding: 0;
}

nav > ul > li {
  display: inline-flex;
  margin: 0 3em;
}

nav > ul > li > a {
  color: var(--nav-link-color);
  text-decoration: none;
}
nav > ul > li > a:hover {
  color: var(--nav-linkhover-color);
  text-decoration: none;
}

/* General Styles */
.heading {
  font-size: 2.65em;
  font-weight: bold;
  letter-spacing: -3px;
  text-transform: none;
  text-align: center;

  @media screen and (max-width: 767px) {
    font-size: 2em;
    // line-height: 1.15em;
  }
}
.subheading {
  white-space: pre-line;
  margin: 1rem 0 1.5em;
  font-size: 0.85em;
}

/* Footer */
footer {
  position:fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
