.map {
  background-color: var(--tertiary-color);
  width: 100%;
  height: 80vh;
}

.header {
  font-size: 7vmin;
}

.places {
  display: flex;
  flex-wrap: wrap;
  padding: 3vmin;
}

.place {
  flex: 1 0 21%;
  margin: 2vmin;
  height: 200px;
  background-color: var(--tertiary-color);
}